# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Temporary files
*.txt~
*.py~
*.md~
*~

# ignored files/folders from Tiva
docs
exmples/boards/dk-tm4c123*/
exmples/boards/ek-tm4c123*/
exmples/boards/dk-tm4c129x*/
exmples/boards/ek-lm4f232/
exmples/boards/my_projects/*
